<!DOCTYPE html>
<html lang="jp">
  <%= render :partial => "registration/shared/header" %>
  <body>
    <%= render :partial => "registration/shared/content_header" %>
    <%= render :partial => "entry_form" %>
    <%= render :partial => "registration/shared/content_footer" %>
  </body>
</html>

<style>
@charset "utf-8";

header{
  margin-top: 30px;
  color: #43A047;
}
hr{
  border-width: 3px;
  border-color: #43A047;
}
h1{
  font-size: 25px;
    font-weight: bold;
    margin: 0;
  text-align: center;
}
.align-light{
    text-align: right;
}
.form-group{
  margin-bottom: 35px;
}
footer p{
  text-align: center;
}
.container {
  max-width: 500px;
}
input:required{
  background: #ffcdd2;
}
input[type="email"]:invalid{
  background: #ffcdd2;
}
input:valid{
  background: transparent;
}
input:focus{
  background: #DCEDC8;
}
/*body{
  background: none;  
}*/
</style>